.user-container {
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 0; /* Çerçeveyi kaldırma */
  background-color: transparent; /* Arka plan rengini kaldırma */
}

.user-form {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  margin-bottom: 20px;
  font-size: 1.2rem; /* Form alanı yazı boyutunu büyütme */
}

.mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0 0.75em;
}

.mat-form-field-infix {
  padding: 0.75em 0;
}

input.mat-input-element {
  height: 2.5em; /* Input alanının yüksekliğini artırma */
}

textarea.mat-input-element {
  height: 5em; /* Textarea alanının yüksekliğini artırma */
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-actions button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1.2rem; /* Buton yazı boyutunu büyütme */
}

button[mat-raised-button] {
  transition: background-color 0.3s ease-in-out;
}

button[mat-raised-button]:hover {
  background-color: #ff4081;
}
