<h2 mat-dialog-title>User Permissions for {{ user.username }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Username</mat-label>
    <input matInput [value]="user.username" disabled>
  </mat-form-field>
  <div class="permissions-container">
    <div class="permission-item">
      <span>Can Edit User:</span>
      <mat-radio-group [formControl]="permissionsForm.controls['canEditUser']">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="permission-item">
      <span>Can Delete User:</span>
      <mat-radio-group [formControl]="permissionsForm.controls['canDeleteUser']">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="permission-item">
      <span>Can Edit Scenario:</span>
      <mat-radio-group [formControl]="permissionsForm.controls['canEditScenario']">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="permission-item">
      <span>Can Delete Scenario:</span>
      <mat-radio-group [formControl]="permissionsForm.controls['canDeleteScenario']">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="savePermissions()">Save</button>
</mat-dialog-actions>
