<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field appearance="fill">
      <mat-label>Old Password</mat-label>
      <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="current_password">
      <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide old password'" [attr.aria-pressed]="hideOld">
        <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('current_password')?.hasError('required')">Old Password is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="new_password">
      <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNew">
        <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('new_password')?.hasError('required')">New Password is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm_new_password">
      <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide confirm new password'" [attr.aria-pressed]="hideConfirm">
        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('confirm_new_password')?.hasError('required')">Confirm New Password is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="changePassword()">Change Password</button>
</mat-dialog-actions>
