.mat-dialog-container {
  padding: 0;
  margin: 0; /* Kenar boşluklarını kaldır */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95vw; /* Maksimum genişlik */
  width: 95vw;
}

.stepper-card {
  padding: 20px;
  margin: 0; /* Kenar boşluklarını kaldır */
  background-color: #f5f5f5; /* Arka plan rengi */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-family: 'Roboto', sans-serif; /* Yazı fontu */
  max-width: 90vw; /* Maksimum genişlik */
  max-height: 90vh; /* Maksimum yükseklik */
  display: flex;
  flex-direction: column;
}

/* Diğer stiller */
.stepper-table-container {
  flex: 1;
  overflow-y: auto;
}

.mat-elevation-z8.custom-table {
  width: 100%;
}

.stepper-form {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.stepper-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stepper-card h2, .stepper-card h3 {
  margin-top: 0;
  font-weight: 500;
  color: #3f51b5; /* Başlık rengi */
  text-align: center;
}

.stepper-card h2 {
  font-size: 2.5rem; /* Başlık boyutu */
}

.stepper-card h3 {
  font-size: 2rem; /* Alt başlık boyutu */
  margin-bottom: 20px;
}

.custom-table th, .custom-table td {
  padding: 10px;
  font-size: 1.2rem;
  word-break: break-word; /* Uzun kelimelerin taşmasını engelle */
}

.header-cell {
  font-weight: bold;
  color: #3f51b5; /* Başlıkların rengi */
  font-size: 1.5rem; /* Başlıkların yazı boyutu */
  border-bottom: 2px solid #e0e0e0; /* Başlıkların altına çizgi eklendi */
}

.custom-table th {
  background-color: #fafafa; /* Başlıkların arka plan rengi */
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f5f5f5; /* Arka plan rengi */
  z-index: 2; /* Diğer öğelerin üstünde görünmesi için */
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif; /* Yazı fontu */
}

::ng-deep .mat-horizontal-stepper-header .mat-step-label {
  font-size: 1.5rem; /* Adım etiketlerinin boyutu */
  font-weight: 500; /* Adım etiketlerinin kalınlığı */
  color: #3f51b5; /* Adım etiketlerinin rengi */
}

::ng-deep .mat-horizontal-stepper-content {
  padding: 20px;
  background-color: #ffffff; /* Adım içeriklerinin arka plan rengi */
  border: 1px solid #e0e0e0; /* Adım içeriklerinin kenarlığı */
  border-radius: 8px;
  margin-top: 10px;
}

body {
  font-family: 'Roboto', sans-serif; /* Yazı fontu */
}
