<mat-card class="stepper-card">
  <h2>{{ scenario.name }}</h2>
  <div class="stepper-table-container">
    <table mat-table [dataSource]="paginatedSteps" class="mat-elevation-z8 custom-table">
      <ng-container matColumnDef="stepNumber">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 10%;">Step #</th>
        <td mat-cell *matCellDef="let step; let i = index">{{ i + 1 + (pageIndex * pageSize) }}</td>
      </ng-container>
      <ng-container matColumnDef="vtdMaddeNo">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 10%;">VTD Madde No</th>
        <td mat-cell *matCellDef="let step">{{ step.vtd_madde_no }}</td>
      </ng-container>
      <ng-container matColumnDef="topoloji">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 20%;">Topoloji</th>
        <td mat-cell *matCellDef="let step">{{ step.topoloji }}</td>
      </ng-container>
      <ng-container matColumnDef="testAdimlari">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 20%;">Test Adımları</th>
        <td mat-cell *matCellDef="let step">{{ step.testAdimlari }}</td>
      </ng-container>
      <ng-container matColumnDef="kabulKriteri">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 20%;">Kabul Kriteri</th>
        <td mat-cell *matCellDef="let step">{{ step.kabulKriteri }}</td>
      </ng-container>
      <ng-container matColumnDef="durum">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 10%;">Durum</th>
        <td mat-cell *matCellDef="let step">{{ step.durum }}</td>
      </ng-container>
     <!-- <ng-container matColumnDef="yorum">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 10%;">Yorum</th>
        <td mat-cell *matCellDef="let step">{{ step.yorum }}</td>
      </ng-container> -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 10%;">Actions</th>
        <td mat-cell *matCellDef="let step; let i = index">
          <button mat-icon-button (click)="editStep(i)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteStep(i)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['stepNumber', 'vtdMaddeNo', 'topoloji', 'testAdimlari', 'kabulKriteri', 'durum', 'actions']" class="sticky-header"></tr>
      <tr mat-row *matRowDef="let row; columns: ['stepNumber', 'vtdMaddeNo', 'topoloji', 'testAdimlari', 'kabulKriteri', 'durum', 'actions'];"></tr>
    </table>
  </div>
  <mat-paginator [length]="steps.length" [pageSize]="pageSize" (page)="handlePageEvent($event)" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  <div class="stepper-buttons">
    <button mat-raised-button color="primary" (click)="openStepDialog()">Add Step</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</mat-card>
