<!-- /home/harun/TestApp/src/app/scenario-stepper/scenario-stepper.component.html -->
<mat-card class="stepper-card">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <div *ngFor="let step of steps; let i = index">
      <mat-step [stepControl]="step">
        <form [formGroup]="step">
          <ng-template matStepLabel>Step {{i + 1}}</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Success Criteria</mat-label>
            <input matInput formControlName="success_criteria" required>
          </mat-form-field>
          <div class="stepper-buttons">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext *ngIf="i < steps.length - 1">Next</button>
            <button mat-raised-button color="primary" (click)="submit()" *ngIf="i === steps.length - 1">Submit</button>
            <button mat-raised-button color="warn" (click)="removeStep(i)" *ngIf="steps.length > 1">Remove Step</button>
          </div>
        </form>
      </mat-step>
    </div>
  </mat-horizontal-stepper>
  <button mat-raised-button color="primary" (click)="addStep()">Insert Step</button>
  <button mat-button color="warn" class="cancel-button" (click)="onCancel()">Cancel</button>
</mat-card>
