<mat-card class="stepper-card">
  <h2>{{ scenario.name }}</h2>
  <h3>Steps</h3>
  <div class="stepper-table-container">
    <table mat-table [dataSource]="paginatedSteps" class="mat-elevation-z8 custom-table">
      <ng-container matColumnDef="stepNumber">
        <th mat-header-cell *matHeaderCellDef class="header-cell">Step #</th>
        <td mat-cell *matCellDef="let step; let i = index">{{ i + 1 + (pageIndex * pageSize) }}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="header-cell">Step Procedure</th>
        <td mat-cell *matCellDef="let step">{{ step.category }}</td>
      </ng-container>
      <ng-container matColumnDef="success_criteria">
        <th mat-header-cell *matHeaderCellDef class="header-cell">Step Criteria</th>
        <td mat-cell *matCellDef="let step">{{ step.success_criteria }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="header-cell">Actions</th>
        <td mat-cell *matCellDef="let step; let i = index">
          <button mat-icon-button (click)="editStep(i)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteStep(i)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['stepNumber', 'category', 'success_criteria', 'actions']" class="sticky-header"></tr>
      <tr mat-row *matRowDef="let row; columns: ['stepNumber', 'category', 'success_criteria', 'actions'];"></tr>
    </table>
  </div>
  <mat-paginator [length]="steps.length" [pageSize]="pageSize" (page)="handlePageEvent($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <h3>Add/Edit Step</h3>
  <form [formGroup]="stepForm" class="stepper-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Step Procedure</mat-label>
      <input matInput formControlName="category" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Step Criteria</mat-label>
      <input matInput formControlName="success_criteria" required>
    </mat-form-field>
  </form>

  <div class="stepper-buttons">
    <button mat-raised-button color="primary" (click)="addStep()">Add/Save Step</button>
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</mat-card>
