:host {
  display: block;
  width: 150%;
  height: 150%;
  text-align: left;
}

.button-container {
  display: flex;
  gap: 10px; /* Butonlar arasındaki boşluk */
  margin-bottom: 20px; /* Buton ile diğer içerikler arasında boşluk */
  justify-content: flex-start; /* Butonları sola hizalar */
}

.passed-state {
  background-color: #98FB98;
  color: black;
  text-align: center;
  vertical-align: middle;
}
deededed
.failed-state {
  background-color: #FF6F6F;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.not-run-state {
  background-color: #FFA500;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.mat-cell {
  text-align: center;
  vertical-align: middle;
}

.add-data-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Form alanları arasındaki boşluk */
  margin-bottom: 20px; /* Form ile diğer içerikler arasında boşluk */
}

.add-data-form .form-field {
  flex: 1 1 100%; /* Form alanlarının tam genişlikte olmasını sağlar */
  min-width: 250px; /* Minimum genişlik */
}

.mat-paginator {
  margin-top: 20px; /* Paginatör ile üstündeki içerikler arasında boşluk */
}

.hover:hover {
  background-color: #f5f5f5;
  cursor: pointer; /* Tıklanabilir olduğunu belirtmek için imleci el işaretine dönüştürür */
  transition: background-color 0.3s ease;
}

.error-message {
  color: red;
  font-weight: bold;
}
