<div class="button-container">
  <div *ngIf="showExportButton">
    <button mat-raised-button color="accent" (click)="exportToPDF()">
      <mat-icon>save_alt</mat-icon> Export to PDF
    </button>
  </div>

  <div *ngIf="showRefreshButton">
    <button mat-raised-button color="accent" (click)="refreshTable()">
      <mat-icon>refresh</mat-icon> Refresh
    </button>
  </div>

  <div *ngIf="showUploadButton">
    <button mat-raised-button color="accent" (click)="triggerExcelUpload()">
      <mat-icon>cloud_upload</mat-icon> Upload Excel
    </button>
    <input #excelInput type="file" (change)="onFileChange($event)" style="display: none;" accept=".xlsx, .xls">
  </div>

  <div *ngIf="sheetNames.length > 0">
    <mat-form-field appearance="fill">
      <mat-label>Select Sheet</mat-label>
      <mat-select [(value)]="selectedSheetName">
        <mat-option *ngFor="let sheetName of sheetNames" [value]="sheetName">
          {{ sheetName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onUpload()">Upload</button>
  </div>
</div>

<div *ngIf="showFilter">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>
</div>

<div *ngIf="showAddDataForm">
  <ng-container *ngFor="let column of columns">
    <mat-form-field appearance="fill" *ngIf="column.type !== ColumnType.CUSTOM">
      <mat-label>{{ column.header }}</mat-label>
      <input matInput [(ngModel)]="newData[column.key]" placeholder="{{ column.header }}">
    </mat-form-field>
  </ng-container>
  <button mat-raised-button color="primary" (click)="addData()">Add</button>
</div>


<table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
  <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.key">
    <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
    <td mat-cell *matCellDef="let element" (click)="onRowClick(element)" [ngClass]="getStateClass(element.data[column.key])" class="hover">
      <ng-container *ngIf="getTemplateForColumn(column.key); else defaultTemplate" [ngTemplateOutlet]="getTemplateForColumn(column.key)" [ngTemplateOutletContext]="{ $implicit: element, index: i }"></ng-container>
      <ng-template #defaultTemplate>
        <ng-container [ngSwitch]="column.type">
          <ng-container *ngSwitchCase="'string'">
            {{ element.data[column.key] }}
          </ng-container>
        </ng-container>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="editRow(element)">Edit</button>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumnKeys"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnKeys">   
  </tr>
</table>


<mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

<!-- Hata mesajını göstermek için -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
