<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Menu</h1>
  <span class="spacer"></span>
  <button mat-button (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" [(opened)]="isExpanded">
    <mat-nav-list>
      <mat-list-item class="parent">
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="full-width">Ana Menü</span>
      </mat-list-item>
      <div class="submenu">
        <a mat-list-item routerLink="/test">Test</a>
        <a mat-list-item routerLink="/report">Report</a>
        <a mat-list-item routerLink="/users">Users</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
