:host ::ng-deep .passed-state {
  color: green;
}

:host ::ng-deep .failed-state {
  color: red;
}

.table-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.donut-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.donut-chart {
  width: 800px;
  height: 800px;
}

.report-table {
  width: 1300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge ekleme */
  border-radius: 8px; /* Hafif köşe yuvarlama */
  overflow: hidden; /* Taşan içerikleri gizle */
  background-color: #ffffff; /* Arka plan rengini beyaz yap */
}

.scenario-name {
  margin: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.scenario-name h2 {
  margin: 0;
  font-size: 50px;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Sol tarafa hizala */
  width: 100%;
  padding: 4px;
}

.submit-button {
  margin-top: 10px;
}
