<h1 mat-dialog-title>Edit Row</h1>
<div mat-dialog-content>
  <ng-container *ngFor="let column of data.displayedColumns" >
    <mat-form-field appearance="fill" *ngIf="column.type !== ColumnType.CUSTOM ">
      <mat-label>{{ column }}</mat-label>
      <input matInput [(ngModel)]="data.row[column]" placeholder="{{ column }}">
    </mat-form-field>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
