<app-generic-table [columns]="columns" [dataSource]="dataSource" [showAddDataForm]="true" [showFilter]="true" [showExportButton]="true" [showUploadButton]="true" [showRefreshButton]="true" (rowClick)="onRowClick($event)" (runTestClick)="runTest($event)">
  <ng-template tableColumnTemplate="run" let-element let-i="index">
    <button mat-button color="primary" (click)="runTest(element.data)">Run</button>
  </ng-template>
  <ng-template tableColumnTemplate="delete" let-element let-i="index">
    <button mat-icon-button color="warn" (click)="deleteTest(element.data)"><mat-icon>delete</mat-icon></button>
  </ng-template>

</app-generic-table>
